a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}
body {
  background-image: url("bgimage.jpg");
  background-size: cover;
}
.container-fluid {
    margin-top:10px;
}
.nawigacja {
    background-color: #3399FF;
    text-align: right;
 }
x {
    text-align: right;
    color:white;
    margin-right: 5px;
    margin-top:5px;
}
img {
    margin-left: 10px;
}
.col-lg-4 {
    background-color: white;
    opacity: 0.8;
    border: 1px solid;
    min-height:600px !important;
    text-align: left;
}
.entry {
    border: 1px solid;
    margin-bottom: 2px;

}
p {
    text-align: center;

}
b {
    font-weight: bold;
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    text-align: center;
}
.post {
    text-align:left;
}

.prop
{
    text-align:left;
}
.popr1 {
    margin-right:85%;
    text-align: left;
}
.popr-box{
    text-align: left;
}
.post
{
    text-align:left;
}
.form_window {
    background-image: url("28h3fwh.png");
    border-radius: 10px;
    width:700px;
    height:300px;
    display: block;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -350px;
    margin-top: -150;
}
.heading {
    text-align: center;
    margin-left:50px;
    margin-top: 1%;
    width: 600px;
}