@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);


html {
  background-image: url("bgimage.jpg");
  background-size: cover;
}
body {
  background: transparent;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}
.form_window {
    background-image: url("28h3fwh.png");
    border-radius: 10px;
    width:700px;
    height:250px;
    display: block;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -350px;
    margin-top: -150;
}
.heading {
    text-align: center;
    margin-left:50px;
    margin-top: 1%;
    width: 600px;
}
h2 {
      font-family: 'Source Sans Pro', sans-serif;
      ont-size: 3em;
      font-weight: 300;
      color: white;
      display: inline-block;
      padding-bottom: 5px;
      text-shadow: 1px 1px 3px $shadow-color;
}
button {
      margin-top: 20px;
      background: #27AE60;
      border: none;
      font-size: 1.6em;
      font-weight: 300;
      padding: 5px 0;
      width: 100%;
      border-radius: 3px;
      color: lighten(#27AE60, 40%);
      border-bottom: 4px solid darken(#27AE60, 10%);