<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery-2.2.3.js' %}"></script>
    <script src="{% static 'js/todo.js' %}"></script>
    <script src="{% static 'js/interact.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="{% static 'popr/popr.css' %}" rel="stylesheet">
    <script src="{% static 'popr/popr.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.popr1').popr();
        });

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
    <title>To Do List - Jobs</title>
</head>
<body>
<div class="nawigacja">
    <a href="/"><img class="image" src="{% static 'css/todo.png' %}" alt="To Do List" align="left"></a>
        <x>User: {{ user }} Group: {{ group.0 }}</x>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/new">Add Job</a>
                <a href="/group">Add or Change Group</a>
                <a href="/logout">Logout</a>
            </div>
</div>
<div class="form_window">
    <div class="heading">
        <h2>Create or change group</h2>
    <form method="post" action=".">{% csrf_token %}
                {{ form }}
        {% if not group %}
        <button type="submit" name="add_group" class="btn btn-success">Create group</button>
        {% endif %}
        <button type="submit" name="change_group" class="btn btn-primary">Change group</button>
    </form>

    </div>
</div>
</body>
</html>