<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>To Do List - Jobs</title>
</head>
<body>
<div class="nawigacja">
    <a href="/"><img src="{% static 'css/todo.png' %}" alt="To Do List" align="left"></a>
</div>
<div class="form_window">
    <div class="heading">
        <h2>Register</h2>
            <form method="post" action=".">{% csrf_token %}
                {{ form }}
            <button type="submit" class="float">Register</button>
    </form>
    </div>
</div>
</body>
</html>